@import '../../../styles/colors';
@import '../../../styles/fonts';

.Header {
    background: url('../../../img/bkg-footer.png') no-repeat center 60%;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: flex-start;
      margin-top: 55px;

      menu {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
      }

      menu ul {
        padding: 0 30px;
      }

      menu li {
        display: inline-block;
        width: 180px;
        a { 
          color: $black;
          text-decoration: none;
          font-size: 20px;
        }
      }
    }

    .jumbotron {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: flex-start;

      p {
        font-family: 'openSansLight';
        font-size: 40px;
        text-align: left;

        b {
          font-family: 'openSansBold';
        }
        span {
          font-family: 'openSansBold';
          color: $green;
        }
      }

      img {
        margin: 60px 80px;
      }
    }
}

@media (max-width: 1400px) {
  .Header {
    .top menu li {
      width: auto;
      margin: 0 20px;
      a {font-size: 16px;}
    }
  }
}

@media (max-width: 1020px) {
  .Header {
    .top {
      flex-direction: column;

      menu {
        flex-direction: column;
        margin-top: 20px;

        .btn {margin:20px auto;}
      }
    }
    .jumbotron {
      
      img {
        margin: auto;
        max-width: 43%;
      }
    }
  }
}

@media (max-width: 630px) {
  .Header {
    background: none;
    .top {
      flex-direction: column;

      menu {
        text-align: center;
        li{display: block;}
      }
    }
    .jumbotron {
      
      p {
        font-size: 16px;
      }
    }
  }
}