@font-face {
    font-family: openSans;
    src: url('../fonts/open_sans/OpenSans.woff');
}

@font-face {
    font-family: openSansBold;
    src: url('../fonts/open_sans/OpenSans-bold.woff');
}

@font-face {
    font-family: openSansSemiBold;
    src: url('../fonts/open_sans/OpenSans-semibold.woff');
}

@font-face {
    font-family: openSansLight;
    src: url('../fonts/open_sans/OpenSans-light.woff');
}